   <p>
        <ul class="projects">
        <% @projects.each do |project| %>
          <li class="project_name">
            <%= link_to project.name, "/companies/#{project.company_id}/projects/#{project.id}" %>
            <p>
              <%= link_to "more", "/companies/#{project.company_id}/projects/#{project.id}" %>
            </p>

          </li>
        <% end %>
        </ul>
      </p>
